html *, body * {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    border: solid;
    padding: 10px 30px;
    text-align: center;
    width: 90%;
    margin: 50px auto;
    margin-bottom: 16px;
    max-width: 300px;
}

h2 {
    text-align: center;
    font-size: 16px;
    color: #777;
}

img {
    border-radius: 100%;
    width: 150px;
    margin: 16px auto;
    display: block;
    max-height: 150px;
    object-fit: cover;
}

div {
    margin: auto;
    margin-top: initial;
    margin-bottom: initial;
    display: flex;
    max-width: 700px ;
    justify-content: center;
    text-align: center;
    

}

#corpo h3 {
    color: rgb(70, 69, 69);
}

#corpo div {
    display: table-column;

}

#corpo span {
    border-left: solid;
    width: 1px;
    border-color: rgb(212, 211, 211);
    justify-content: center;
}