html *, body * {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    border: solid;
    padding: 10px 30px;
    text-align: center;
    width: 90%;
    margin: 26px auto;
    margin-bottom: 16px;
    max-width: 300px;
}

h2 {
    text-align: center;
    font-size: 16px;
    color: #777;
}

img {
    border-radius: 100%;
    width: 150px;
    margin: 16px auto;
    display: block;
    max-height: 150px;
    object-fit: cover;
}

#corpo {
    margin: auto;
    margin-top: initial;
    margin-bottom: initial;
    display: flex;
    max-width: 800px;
    justify-content: center;

}

#corpo h3 {
    color: rgb(70, 69, 69);
}


#direita {
    padding-left: 16px;
    padding-top: 0px;
    text-align: left;
    max-width: 96%;
    width: 50%;
    border-left: solid;
    border-color: rgb(212, 211, 211);

}

#esquerda {
    padding-right: 16px;
    padding-top: 0px;
    text-align: right;
    max-width: 100%;
    width: 50%;

}

.text {
    color: #777;
    
}
